<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>login works!</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/google_material_design.png">
    <md-card-content>
        Text content
    </md-card-content>
    <md-card-actions align="start|end">
        <button md-raised-button color="primary" (click)="login()">Login</button>
        <button md-raised-button color="accent" (click)="logout()">Logout</button>

    </md-card-actions>
    
</md-card>